<div class="container my-5">
  <div class="row">
    <div class="col-md-8 col-sm-12 mx-auto">
      <div class="row">
        <div class="col-md-6 col-sm-12 my-auto">
          <img
            src="../assets/images/sandip-sadhukhan.jpg"
            alt="Sandip Sadhukhan"
            class="img-fluid"
            style="border-radius: 55%; height: 250px"
          />
        </div>
        <div class="col-md-6 col-sm-12 my-auto">
          <div class="card card-body bg-light">
            <h3 class="text-center mb-3">About Me</h3>
            <p style="text-align: justify">
              Hi! my name is sandip sadhukhan. I created this website. You can
              give quiz tests from this side.
            </p>
            <p>This site is created with these technologies.</p>
            <ul style="font-size: 14px">
              <li>HTML</li>
              <li>CSS</li>
              <li>Bootstrap</li>
              <li>Javascript</li>
              <li>AngularJS (Formally Angular 1)</li>
            </ul>
            <p class="small text-muted">
              If you want to contribute. Submit your pull request
              <a href="#">here</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
