<div class="container my-5">
  <div class="row">
    <div class="col-md-10 mx-auto col-sm-12">
      <div class="row">
        <div class="col-md-3 col-sm-12 my-2">
          <div class="card bg-primary text-white">
            <div class="card-header">
              <h4 class="card-title text-center">JavaScript</h4>
            </div>
            <div class="card-body">
              <p class="small">
                Improve your skill by attempting this javascript quiz.
              </p>
            </div>
            <div class="card-footer text-center my-2">
              <a href="/#!/quiz/javascript" class="btn btn-sm btn-light"
                >Attempt quiz</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-12 my-2">
          <div class="card bg-danger text-white">
            <div class="card-header">
              <h4 class="card-title text-center">Angular</h4>
            </div>
            <div class="card-body">
              <p class="small">
                Let's see, how many answer you guess right. Improve your angular
                knowledge.
              </p>
            </div>
            <div class="card-footer text-center my-2">
              <a href="/#!/quiz/angular" class="btn btn-sm btn-light"
                >Attempt quiz</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-12 my-2">
          <div class="card bg-warning text-white">
            <div class="card-header">
              <h4 class="card-title text-center">Python</h4>
            </div>
            <div class="card-body">
              <p class="small">
                Are you a good python programmer? Can you guess all the answers
                correct?
              </p>
            </div>
            <div class="card-footer text-center my-2">
              <a href="/#!/quiz/django" class="btn btn-sm btn-light"
                >Attempt quiz</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-12 my-2">
          <div class="card bg-success text-white">
            <div class="card-header">
              <h4 class="card-title text-center">Django</h4>
            </div>
            <div class="card-body">
              <p class="small">
                What did you say? Django is your passion? Let's see how are you
                capable of.
              </p>
            </div>
            <div class="card-footer text-center my-2">
              <a href="/#!/django" class="btn btn-sm btn-light">Attempt quiz</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
