<div class="container my-5">
  <h3 class="text-center">Javascript Test</h3>
  <hr />
  <div class="row">
    <div class="col-md-8 col-sm-12 mx-auto">
      <div class="progress" style="margin-bottom: -5px; z-index: 1000">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 85%; z-index: 1001"
        >
          85%
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mt-1">Q1) What is the sum of 1 + 1?</h5>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <label>
                <input type="radio" name="q1" />
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
                  beatae.
                </span>
              </label>
            </li>
            <li class="list-group-item">
              <label>
                <input type="radio" name="q1" />
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
                  beatae.
                </span>
              </label>
            </li>
            <li class="list-group-item">
              <label>
                <input type="radio" name="q1" />
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
                  beatae.
                </span>
              </label>
            </li>
            <li class="list-group-item">
              <label>
                <input type="radio" name="q1" />
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
                  beatae.
                </span>
              </label>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between py-2">
            <button class="btn btn-sm btn-outline-primary">
              <i class="bi bi-caret-left-fill"></i> Previous
            </button>
            <button class="btn btn-sm btn-outline-primary">
              Next <i class="bi bi-caret-right-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
